.responsive-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: auto;
    overflow: hidden;
}

.responsive-canvas canvas {
    width: 100%;
    height: auto;
}

.componentsContainer {
    position: absolute;
    top: 5rem; /* Top 20 in Tailwind (20 * 0.25rem) */
    width: 25%; /* sm:w-1/4 */
    max-width: 16rem; /* max-w-xs in Tailwind (16 * 1rem) */
    max-height: 50%;
    padding: 0.5rem; /* p-4 translates to px-4 and py-2 */
    padding-left: 1rem; /* px-4 */
    padding-right: 1rem; /* px-4 */
    padding-top: 0.5rem; /* py-2 */
    padding-bottom: 0.5rem; /* py-2 */
    background-color: #60a5fa; /* bg-blue-400 */
    color: #ffffff; /* text-white */
    border-radius: 0.375rem; /* rounded translates to 6px or 0.375rem */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); /* shadow */
    overflow: auto; /* overflow-auto */
    transition: all 0.3s ease;
}

.left-3 {
    left: 2%;
}

.right-3 {
    right: 2%;
}

.top-3 {
    top: 10%;
}